{{#unless loggedIn}}
<a href='loginPage'><button class="btn btn-primary">Login</button></a>
{{/unless}}
{{#if loggedIn}}
<a href='form'><button class="btn btn-primary">Submit an Article</button></a>
<a href='logOut'><button class="btn btn-secondary">Log Out</button></a>
{{/if}}

