<form action="/submit" method="POST">
  <div class="form mb-3">
    <label for="title">    Title: </label>
    <input type="text" name="title" id="title" required>
  </div>

  <div class="form mb-3">
    <textarea id="article" name="article" rows="4" cols="50"></textarea>
  </div>

  <div class="form-example">
    <input type="submit" value="SUBMIT!" class="btn btn-primary">
  </div>
</form>
<a href="/"><button class="btn btn-secondary">Go Back</button></a>