<h1>Welcome to tech debt hell!</h1>
<p>
    You've learned a new thing; time to go back and do it everywhere that's applicable!
</p>
<p>
    {{articles.length}}
</p>

{{> articleList articles=articles}}