<form action="/login" method="POST">

    <div class="form mb-3">
      <label for="name">
        Username: 
      </label>
      <input type="text" name="name" id="name" Username>
    </div>

    <div class="form mb-3">
      <label for="password">
        Password: 
      </label>
      <input type="password" name="password" id="password" Password>
    </div>

    <div>
      <input type="submit" value="SUBMIT!" class="btn btn-primary">
      <span method="GET"><a href="/"><button class="btn btn-secondary">Go Back</button></a></span>
    </div>

</form>
{{!-- Ideally this should align to the submit button --}}
<a href="/"><button class="btn btn-secondary">Go Back</button></a>